<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app="myapp">
    <br />

    <div ng-app="myapp" class="container">
        <div ng-controller="myctrl">
            <div class="form-group">
                <label>Họ và tên: </label>
                <input ng-model="student.fullname" class="form-control" />
            </div>
            <div class="form-group">
                <label>Ngày sinh: </label>
                <input ng-model="student.birthday" class="form-control" />
            </div>
            <div class="form-group">
                <label>Điểm: </label>
                <input ng-model="student.mark" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-info " ng-click="insert()" ng-show="index == -1">Thêm</button>
                <button class="btn btn-info " ng-click="update()" ng-hide="index == -1">Sửa</button>
                <button class="btn btn-info " ng-click="delete()" ng-hide="index == -1">Xóa</button>
                <button class="btn btn-info" ng-click="cancel()">Hủy</button>
                <button class="btn btn-info" ng-click="clear()">Mới</button>
            </div>
            <table class="table">
                <tr>
                    <th>Họ và tên</th>
                    <th>Ngày sinh</th>
                    <th>Điểm</th>
                    <th>Xếp loại</th>
                    <th></th>
                </tr>
                <tr ng-repeat="st in students">
                    <td>{{st.fullname}}</td>
                    <td>{{st.birthday}}</td>
                    <td>{{st.mark}}</td>
                    <td><span ng-if="st.mark < 5">Yếu/Kém</span>
                        <span ng-if="st.mark >= 5 && st.mark <= 8">Trung bình/Khá</span>
                        <span ng-if="st.mark > 8">Giỏi/Xuất sắc</span>
                    </td>
                    <td>
                        <a href="#" ng-click="edit($index)">Sửa</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        var app = angular.module("myapp", []);
        app.controller("myctrl", function ($scope) {
            $scope.students = [];
            $scope.student = {};
            $scope.index = -1;
            // object
            $scope.students = [
                {
                    fullname: "Nguyễn Văn Tèo",
                    birthday: "20-01-1995",
                    mark: 8.5
                },
                {
                    fullname: "Phạm Thị Nở",
                    birthday: "15-11-1985",
                    mark: 5.5
                }
            ];
            // func
            $scope.clear = function () {
                $scope.student = {};
            }
            $scope.index = -1;
            $scope.insert = function () {
                $scope.students.push(angular.copy($scope.student));
                $scope.clear();
            }
            $scope.update = function () {
                $scope.students[$scope.index] = angular.copy($scope.student);
            }
            $scope.delete = function () {
                $scope.students.splice($scope.index, 1);
                $scope.clear();
            }
            $scope.cancel = function () {
                if ($scope.index == -1) {
                    $scope.clear();
                }
                else {
                    $scope.edit($scope.index);
                }
            }
            $scope.edit = function (index) {
                $scope.index = index;
            }
        });
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>