<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body>
    <div ng-app="productApp" ng-controller="ProductController as vm">
        <h2>Danh sach hang hoa</h2>
        <table class="table">
            <thead>
                <tr>
                    <th><a href="#" ng-click="sortBy('name')">Product</a></th>
                    <th><a href="#" ng-click="sortBy('price')">Price</a></th>
                    <th><a href="#" ng-click="sortBy('discount')">Discount</a></th>
                    <th><a href="#" ng-click="sortBy('date')">Date</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.filteredProducts">
                    <td scope="row">{{product.name | uppercase}}</td>
                    <td>{{product.price | currency}}</td>
                    <td>{{product.discount | percentage: 2}}</td>
                    <td>{{product.date | date:"MMM-dd, yyyy"}}</td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination">
            <li class="page-item" ng-class="{disabled: currentPage == 1}">
                <a class="page-link" href="#" ng-click="first()">First</a>
            </li>
            <li class="page-item" ng-class="{disabled: currentPage == 1}">
                <a class="page-link" href="#" ng-click="prev()">Previous</a>
            </li>
            <li class="page-item" ng-repeat="page in pages" ng-class="{active: currentPage == page}">
                <a class="page-link" href="#" ng-click="setPage(page)">{{ page }}</a>
            </li>
            <li class="page-item" ng-class="{disabled: currentPage == totalPages}">
                <a class="page-link" href="#" ng-click="next()">Next</a>
            </li>
            <li class="page-item" ng-class="{disabled: currentPage == totalPages}">
                <a class="page-link" href="#" ng-click="last()">Last</a>
            </li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script>
    var app = angular.module("productApp", []);
    app.controller("ProductController", function ($scope, $filter, $http) {
        var vm = this;
        vm.products = [];

        $http.get("product.js")
            .then(function(response) {
                vm.products = response.data;
                initializePagination();
            })
            .catch(function(error) {
                console.error('Error fetching data:', error);
            });

        $scope.currentPage = 1;
        $scope.itemsPerPage = 5;
        $scope.totalPages = 0;

        function initializePagination() {
            $scope.totalPages = Math.ceil(vm.products.length / $scope.itemsPerPage);
            $scope.currentPage = 1;
            updateFilteredProducts();
            updatePagination();
        }

        function updateFilteredProducts() {
            var begin = (($scope.currentPage - 1) * $scope.itemsPerPage);
            var end = begin + $scope.itemsPerPage;
            vm.filteredProducts = vm.products.slice(begin, end);
        }

        function updatePagination() {
            $scope.pages = [];
            for (var i = 1; i <= $scope.totalPages; i++) {
                $scope.pages.push(i);
            }
        }

        $scope.setPage = function (page) {
            if (page < 1 || page > $scope.totalPages) {
                return;
            }
            $scope.currentPage = page;
            updateFilteredProducts();
        };

        $scope.first = function () {
            $scope.currentPage = 1;
            updateFilteredProducts();
        };

        $scope.prev = function () {
            if ($scope.currentPage > 1) {
                $scope.currentPage--;
                updateFilteredProducts();
            }
        };

        $scope.next = function () {
            if ($scope.currentPage < $scope.totalPages) {
                $scope.currentPage++;
                updateFilteredProducts();
            }
        };

        $scope.last = function () {
            $scope.currentPage = $scope.totalPages;
            updateFilteredProducts();
        };

        $scope.sortBy = function (prop) {
            vm.products = $filter('orderBy')(vm.products, prop);
            $scope.currentPage = 1;
            updateFilteredProducts();
            updatePagination();
        };
    })
    .filter('percentage', ['$filter', function ($filter) {
        return function (input, decimals) {
            return $filter('number')(input, decimals) + '%';
        };
    }]);
</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
